/*RESET DA PAGINA*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
/*CONFIGS GERAIS*/

html {
  --cor-vermelho-brandili: #c7343f;
  --blog-text-grey: #bebebe;
  --blog-text-red: #c7343f;
  --footer-backgroud-grey: #efefef;
  --newsletter-color-text: #1e95ce;
  --border-footer-blue: #1e95ce;
  --color-price-blue: #0089c8;
  width: 100vw;
  font-family: 'Nunito Sans', sans-serif;
}

div {
  display: inline-block;
}

/*HEADER*/

header {
  position: fixed;
  background-color: #fff;
  z-index: 9999;
  width: 100%;
  top: 0;
  box-shadow: 0 3px 6px rgba(0 0 0 16%);
  height: 115px;
}

/*HEADER TOP*/
.top-header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-color: var(--cor-vermelho-brandili);
}

.store-select {
  background-color: #fff;
}

.top-header img {
  width: 91px;
  height: 24px;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 15px;
  margin-right: 15px;
}

.user-action {
  margin-right: 18px;
  color: #fff;
}

.user-enter {
  border-right: 1px solid #fff;
}

.user-enter img {
  width: 15px;
}

.user-enter p {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*TOP HEADER SACOLA*/

.user-bag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.user-bag span {
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-bag img {
  margin-left: 15px;
  width: 25px;
  height: 30px;
}

.total-cart {
  display: inline-flex;
  margin-top: 0;
  margin-inline-end: 0px;
  align-items: center;
  justify-content: center;
  background: #b12a34;
  height: 44px;
  width: 44px;
}
/*BOTTON HEADER*/

.botton-header {
  display: inline-flex;
  align-items: center;
  background-color: #fff;
  justify-content: center;
  width: 100vw;
  height: 70px;
  margin-left: 82px;
  margin-right: 82px;
}

.menu div .arrow-menu {
  margin: 0.5rem 1rem 0.5rem;
}

.arrow-menu {
  color: #bebebe;
  text-transform: uppercase;
  letter-spacing: -0.36px;
}

/*SUB MENUS*/

.sub-menu {
  display: flex;
  position: absolute;
  left: 0;
  background-color: #fff;
  width: 50%;
  min-width: 40%;
  height: auto;
  text-decoration: none;
  color: #797979;
  padding-left: 2rem;
}

.sub-menu-content-wrapper {
  display: flex;
  align-items: center;
  min-width: 40%;
  height: auto;
  margin: 1rem;
}

.sub-menu-content-wrapper a {
  color: inherit;
  line-height: 25px;
}

.sub-menu-content {
  display: inline-flex;
}

.sub-menu .sub-menu-col-n1 {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  text-decoration: none;
  width: 180px;
  border-right: 1px solid #dbdbdb;
}

.sub-menu .sub-menu-col-n2 {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  text-decoration: none;
  width: 180px;
  padding-left: 40px;
}

.sub-menu .sub-menu-img {
  margin-top: 15%;
}

#novidades {
  display: none;
}

#meninas {
  display: none;
}

#meninos {
  display: none;
}

#bebes {
  display: none;
}

#marcas {
  display: none;
}

#promocoes {
  display: none;
}

/*BOTTON HAEDER - LOGO*/
.logo img {
  width: 200px;
  height: 45px;
}

/*BOTTON HEADER - SEARCH*/

.search-box {
  flex-basis: 35%;
  display: inline-flex;
  align-items: center;
  margin-left: 20px;
}

.search-box img {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-top: 28px;
}

.search-box fieldset {
  border: 0;
}

.search-box-content {
  width: 100%;
}

fieldset .busca {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.busca input {
  box-sizing: border-box;
  width: 50%;
  border: none;
  padding-left: 8px;
  padding-bottom: 8px;
  margin-bottom: 10px;
}

/*CARROSEL PRINCIPAL*/

.banner-carrossel {
  margin-top: 114px;
}

.banner-carrossel img {
  width: 100vw;
}

.banner-carrossel .slick-dots {
  bottom: 10px !important;
}

.banner-carrossel .slick-prev {
  z-index: 9998;
  left: 20px !important;
}

.banner-carrossel .slick-next {
  right: 20px;
}

/*BARRA DE BENEFICIOS*/

.benefits-bar {
  display: block;
  background-color: #fff;
  width: 100%;
  height: 62px;
  margin-bottom: 1rem;
}

.benefits-bar-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.benefits-bar-list article {
  display: flex;
  align-items: center;
  justify-content: center;
}

.benefits-bar-list article p {
  text-transform: uppercase;
  line-height: 19px;
  font-size: 12px;
}

.benefits-bar-list img {
  width: 45px;
  margin-right: 20px;
}

/*BANNER FOUR*/

.mosaic-four-container {
  display: block;
  width: auto;
}

.mosaic-four-list {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.mosaic-four-list img {
  width: 100%;
  padding: 6px;
}

/* LANCAMENTOS*/
.smarthint-news {
  text-align: center;
}

.smarthint-news h3 {
  margin-top: 5rem;
  margin-bottom: 4rem;
  color: #5e5e5e;
}

.smarthint-news-content {
  display: block;
  width: 100vw;
}

.smarthint-news-products {
  position: relative;
  display: flex;
  width: 100%;
}

.smarthint-news-products img {
  width: 90%;
}

.smarthint-news-products h3 {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 400;
  color: #5e5e5e;
  width: 88%;
}

.smarthint-news .price {
  width: 100%;
  margin-top: 12px;
  align-items: center;
}

.smarthint-news .full-price {
  color: #5e5e5e;
  text-decoration: line-through;
  font-size: 13px;
}

.smarthint-news .new-price {
  font-size: 20px;
  margin: 0 6px;
  color: var(--color-price-blue);
  font-weight: 700;
}

.smarthint-news .hover-position:hover {
  opacity: 1;
}

.smarthint-news .hover-position {
  opacity: 0;
  position: absolute;
  bottom: 105px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  transition: ease 0.3s;
}

.smarthint-news .hover-position a {
  width: 90%;
  text-align: center;
  height: 46px;
  background-color: #14b36b;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 3px;
  margin: 0 0 10px;
  padding-top: 16px;
}

.smarthint-news .slick-dots {
  bottom: -40px !important;
}

.smarthint-news .slick-prev {
  background-color: #bebebe !important;
  top: 40% !important;
  left: 40px !important;
  z-index: 9998;
}

.smarthint-news .slick-next {
  background-color: #bebebe !important;
  top: 40% !important;
  right: 40px !important;
  z-index: 9998;
}

/* MAIS VISTOS*/
.smarthint-bestsellers {
  text-align: center;
}

.smarthint-bestsellers h3 {
  margin-top: 5rem;
  margin-bottom: 4rem;
  color: #5e5e5e;
}

.smarthint-bestsellers-content {
  display: block;
  width: 100vw;
}

.smarthint-bestsellers-products {
  position: relative;
  display: flex;
  width: 100%;
}

.smarthint-bestsellers-products img {
  width: 90%;
}

.smarthint-bestsellers-products h3 {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 400;
  color: #5e5e5e;
  width: 88%;
}

.smarthint-bestsellers .price {
  width: 100%;
  margin-top: 12px;
  align-items: center;
}

.smarthint-bestsellers .new-price {
  font-size: 20px;
  margin: 0 6px;
  color: var(--color-price-blue);
  font-weight: 700;
}

.smarthint-bestsellers .hover-position:hover {
  opacity: 1;
}

.smarthint-bestsellers .hover-position {
  opacity: 0;
  position: absolute;
  bottom: 105px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  transition: ease 0.3s;
}

.smarthint-bestsellers .hover-position a {
  width: 90%;
  text-align: center;
  height: 46px;
  background-color: #14b36b;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 3px;
  margin: 0 0 10px;
  padding-top: 16px;
}

.smarthint-bestsellers .slick-dots {
  bottom: -50px !important;
}

.smarthint-bestsellers .slick-prev {
  background-color: #bebebe !important;
  top: 40% !important;
  left: 40px !important;
  z-index: 9998;
}

.smarthint-bestsellers .slick-next {
  background-color: #bebebe !important;
  top: 40% !important;
  right: 40px !important;
  z-index: 9998;
}

/*MOSAIC TWO*/

.mosaic-two {
  margin-top: 40px;
  display: block;
  width: 100vw;
}

.mosaic-two-content {
  display: flex;
  justify-content: space-between;
}

.mosaic-two-content img {
  width: 100%;
}

/*MOSAIC FULL*/
.mosaic-full {
  display: block;
  width: 100vw;
}

.mosaic-full-list {
  margin-top: 14px;
  width: 100%;
}

.box-banner img {
  width: 100%;
}

/*BLOG*/

.blog {
  display: block;
}

.blog-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.blog-box img {
  margin: 0 10px 0 0;
}

.blog-box b {
  color: var(--blog-text-grey);
}

.blog-box div p {
  font-size: 29px;
  line-height: 29px;
  color: var(--blog-text-red);
}

.blog-box div small {
  font-size: 9px;
  font-weight: 400;
  color: var(--blog-text-grey);
  font-style: italic;
  margin-left: 12.5rem;
}

/*POST - INSTAGRAM*/

.instagram-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.box-instagram {
  width: 100vw;
}

/* NEWSLETTER*/
.box-newsletter {
  background: var(--footer-backgroud-grey);
  height: 82px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newsletter-container {
  width: 100%;
  display: flex;
  max-width: 1192px;
  justify-content: space-around;
  align-items: center;
}

.newsletter-fieldset {
  display: flex;
  padding: 0;
  text-decoration: none;
  border: none;
  margin-right: 20%;
}

.newsletter-text {
  color: var(--newsletter-color-text);
}

.newsletter-text p {
  margin: 4px 0 4px 0;
  font-size: 20px;
  line-height: 27px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.newsletter-text label {
  font-weight: bold;
  font-size: 12px;
  width: 400px;
  margin-left: 3px;
}

.newsletter-text input {
  margin-left: 20px;
}

.newsletter-email {
  background: #fff;
  border: 1px solid var(--footer-backgroud-grey);
  font-size: 14px;
  color: #5e5e5e;
  padding: 0 16px;
  height: 58px;
  width: 384px;
  box-sizing: border-box;
  margin: 0 24px;
}

.newsletter-btn {
  height: 58px;
  width: 196px;
  background: #e97f27;
  color: #fff;
  font-size: 18px;
  border: none;
  text-transform: lowercase;
  border-radius: 0;
  box-shadow: none;
  margin: 0;
  padding: 0;
}

/*FOOTER*/

#footer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  position: relative;
}

.footer-top {
  border-top: 20px solid var(--border-footer-blue);
  background: var(--footer-backgroud-grey);
  width: 100%;
  display: flex;
}

.footer-top-group {
  display: flex;
  justify-content: space-between;
  max-width: 1192px;
  width: 100%;
  margin: 40px auto;
}

.footer-top-group div {
  display: block;
}

.footer-top-group li {
  display: list-item;
  color: #052230;
  font-size: 14px;
  line-height: 30px;
  list-style: none;
  text-decoration: none;
}

.footer-bottom {
  display: block;
  width: 100vw;
  height: 8vh;
  align-items: center;
}

.footer-group {
  display: flex;
  justify-content: space-between;
  max-width: 1192px;
  width: 100%;
  margin: 15px auto;
  align-items: center;
}

.footer-bottom-copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-bottom-copy p {
  display: block;
  font-size: 12px;
  color: #052230;
  line-height: 27px;
  font-weight: 400;
  margin: 0;
}

/*SWEET ALERT*/
.lgpd-sweet-alert {
  position: fixed;
  width: 100vw;
  bottom: 1px;
  padding: 20px;
  background-color: #fff;
  border-top: var(--cor-vermelho-brandili) 3px solid;
  font-size: 10px;
  display: inline-flex;
  justify-content: space-between;
  z-index: 99999;
  align-items: center;
  height: 100px;
  display: none;
}

.lgpd-content {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.lgpd-content .lgpd-item-text {
  margin-right: 20%;
}

.lgpd-content a {
  color: var(--cor-vermelho-brandili);
}

.lgpd-item-button button {
  background-color: var(--cor-vermelho-brandili);
  color: #efefef;
  border-radius: 5px;
  font-weight: 700;
  letter-spacing: 0.6px;
  padding: 10px 30px;
  border: none;
  margin-right: 20px;
  cursor: pointer;
}
